@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #6d28d9;
  --white:#fff;
  --red:#ff0000;
  --black:#000;
}

body {
  font-family: "PT Serif", serif;
  text-align: center;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Header */

header {
  padding: 1rem;
  background-color: var(--primary-color);
  color: var(--white);
}

header h1 {
  font-family: "Megrim", cursive;
  text-align: initial;
}

nav {
  text-align: right;
}

nav > a {
  padding: 0 0.5rem;
  color:var(--white);
}

/* Main */

main {
  margin: 0 0 7rem;
}

main h1 {
  margin: 1rem;
}
.container-center {
  max-width: 600px;
  margin: auto;
}
.card {
  box-shadow: 0 1px 25px rgb(146 161 176 / 50%);
  margin: 1rem 0rem;
}
/*  Input */

.input-label {
  font-size: larger;
  color: var(--black);
  width: 256px;
}

.input-label p {
  font-size: larger;
  margin: 0.5rem;
}

.input-text {
  font-size: 14px;
  outline: #fff;
  padding: 0.6rem 1rem;
  margin: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 258px;
}
/* remove arrows from input field */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#error-message {
  display: block;
  font-size: larger;
  margin: 1rem auto;
  color: var(--red);
}
.btn-check {
  background: var(--primary-color);
  border: none;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: #fff;
  margin: 1rem auto;
  display: block;
}

#output {
  font-size: x-large;
  margin: 1rem;
}

/* footer */
.name {
    font-weight: bold;
    font-size: 2rem;
    padding: 2rem;
    color: var(--white);
  }
  .list-non-bulleted {
    list-style-type: none;
  }
  
  .list-inline {
    display: inline;
    padding: 0.2rem;
  }
  
  .link {
    text-decoration: none;
    color: var(--white);
  }
.footer{
    background-color: var(--primary-color);
}
.footer div{
  text-align: center;
  padding:1rem;
}
  
